<div class="ui container">
    <h1 class="ui header">
    <i class="github huge icon"></i>
    <div class="content">
        Github Vacantes
    </div>
    </h1>
    <div class="ui divider"></div>
    <div class="ui segment">
        <h2>Registrar Vacante</h2>
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <input type="text" name="name" placeholder="Nombres">
                </div>
                <div class="field">
                    <input type="text" name="last-name" placeholder="Apellidos">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="number" name="document" placeholder="Documento de identidad">
                </div>
                <div class="field">
                    <input type="date" name="birth-date" placeholder="Fecha de nacimiento">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="email" name="email" placeholder="Correo eléctronico">
                </div>
                <div class="field">
                    <input type="text" name="user-name" placeholder="Usuario Github">
                </div>
            </div>
            <div class="ui button primary" tabindex="0">Registrar</div>
        </form>
    </div>
    <div class="ui clearing segment">
        <h2>Consultar Repositorios</h2>
        <div class="ui two column grid">
            <div class=" column">
                <div class="ui left icon input loading fluid">
                    <input type="text" placeholder="Buscar..">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="column">
                <div class="ui right floated pagination menu">
                    <a class="active item">
                        1
                    </a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
                        10
                    </a>
                    <a class="item">
                        11
                    </a>
                    <a class="item">
                        12
                    </a>
                </div>
            </div>
        </div>
        
        <table class="ui sortable celled table">
            <thead>
                <tr>
                    <th class="">Nombre</th>
                    <th class="">Descripcion</th>
                    <th class="">Lenguaje</th>
                    <th class="">Branch por defecto</th>
                    <th class="sorted descending">URL git</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Jamie</td>
                    <td >Jamie</td>
                    <td >Jamie</td>
                    <td >Approved</td>
                    <td >Requires call</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td>No Action</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Jill</td>
                    <td>Jill</td>
                    <td>Denied</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>
        
        <div class="ui  right floated red button" tabindex="0">Registrar otro candidato</div>
    </div>
</div>