<div class="ui container">
    <h1 class="ui header">
    <i class="github huge icon"></i>
    <div class="content">
        Github Vacantes
    </div>
    </h1>
    <div class="ui divider"></div>
    <div class="main-content">
    </div>
</div>