<div class="ui segment">
    <h2>Registrar Vacante</h2>
    <form class="ui form">
        <div class="ui error message"></div>
        <div class="two fields">
            <div class="field">
                <input type="text" name="name" placeholder="Nombres" value="">
            </div>
            <div class="field">
                <input type="text" name="lastName" placeholder="Apellidos" value="">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <input type="text" name="document" placeholder="Documento de identidad" value="">
            </div>
            <div class="field">
                <input type="date" name="birthDate" placeholder="Fecha de nacimiento" value="">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <input type="email" name="email" placeholder="Correo eléctronico" value="">
            </div>
            <div class="field">
                <input type="text" name="userName" placeholder="Usuario Github" value="">
            </div>
        </div>
        <div class="ui submit button primary" tabindex="0">Registrar</div>
    </form>
</div>