<div class="ui segment">
    <h2>Registrar Vacante</h2>
    <form class="ui form">
        <div class="ui error message"></div>
        <div class="two fields">
            <div class="field">
                <input type="text" name="name" placeholder="Nombres" value="Mauricio">
            </div>
            <div class="field">
                <input type="text" name="lastName" placeholder="Apellidos" value="Bello">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <input type="text" name="document" placeholder="Documento de identidad" value="123445">
            </div>
            <div class="field">
                <input type="date" name="birthDate" placeholder="Fecha de nacimiento" value="1983-07-13">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <input type="email" name="email" placeholder="Correo eléctronico" value="mow_bell@hotmail.com">
            </div>
            <div class="field">
                <input type="text" name="userName" placeholder="Usuario Github" value="mowbell">
            </div>
        </div>
        <div class="ui submit button primary" tabindex="0">Registrar</div>
    </form>
</div>