<div class="ui container">
    <h1 class="ui header">
    <i class="github huge icon"></i>
    <div class="content">
        Github Vacantes
    </div>
    </h1>
    <div class="ui divider"></div>
    <div class="ui segment">
    <form class="ui form">
        <div class="two fields">
            <div class="field">
                <input type="text" name="name" placeholder="Nombres">
            </div>
            <div class="field">
                <input type="text" name="last-name" placeholder="Apellidos">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <input type="number" name="document" placeholder="Documento de identidad">
            </div>
            <div class="field">
                <input type="date" name="birth-date" placeholder="Fecha de nacimiento">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <input type="email" name="email" placeholder="Correo eléctronico">
            </div>
            <div class="field">
                <input type="text" name="user-name" placeholder="Usuario Github">
            </div>
        </div>
        <div class="ui button primary" tabindex="0">Registrar</div>
    </form>
    </div>
</div>