<div class="ui icon buttons right floated">
    
    <button class="ui button {{#unless this.first}}disabled{{/unless}}" 
        data-content="Ir al primero"
        data-link="{{this.first}}">
        <i class="angle double left icon"></i>
    </button>
    <button class="ui button {{#unless this.prev}}disabled{{/unless}}" 
        data-content="Ir al anterior"
        data-link="{{this.prev}}">
        <i class="angle left icon"></i>
    </button>
    <button class="ui button {{#unless this.next}}disabled{{/unless}}" 
        data-content="Ir al siguiente"
        data-link="{{this.next}}">
        <i class="angle right icon"></i>
    </button>
    <button class="ui button {{#unless this.last}}disabled{{/unless}}" 
        data-content="Ir al ultimo"
        data-link="{{this.last}}">
        <i class="angle double right icon"></i>
    </button>
    
</div>