<div class="ui clearing segment">
    <h2>Consultar Repositorios</h2>
    <div class="ui two column grid">
        <div class=" column">
            <div class="ui right icon input fluid">
                <input type="text" class="repo-search-txt" placeholder="Buscar..">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="column pagination-links">
            
        </div>
    </div>
    
    <table class="ui sortable celled table">
        <thead>
            <tr>
                <th class="">Nombre</th>
                <th class="">Descripcion</th>
                <th class="">Lenguaje</th>
                <th class="">Branch por defecto</th>
                <th class="sorted descending">URL git</th>
                
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    
    <div id="register-another-user-btn" class="ui right floated red button" tabindex="0">Registrar otro candidato</div>
</div>